<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544009711182-dj49asvpglldubv0a8hi61hj1b1s8nuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544009711182-dj49asvpglldubv0a8hi61hj1b1s8nuo</string>
	<key>API_KEY</key>
	<string>AIzaSyAryCD6hpsVnkrN5_Oyr87J2oHuyPmK3oA</string>
	<key>GCM_SENDER_ID</key>
	<string>544009711182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.banana</string>
	<key>PROJECT_ID</key>
	<string>tetetete-9f956</string>
	<key>STORAGE_BUCKET</key>
	<string>tetetete-9f956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544009711182:ios:8f7b7365302d8b03c6dd1f</string>
</dict>
</plist>